[package]
name = "pyxirr"
version = "0.3.1"
authors = ["Anexen"]
edition = "2018"
description = "Rust-powered collection of financial functions."
readme = "README.md"
homepage = "https://github.com/Anexen/pyxirr"
keywords = ["python", "fast", "financial", "xirr", "xnpv", "irr", "npv"]

[package.metadata.maturin]
classifiers = [
    "Development Status :: 4 - Beta",
    "Topic :: Office/Business :: Financial",
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: 3.6",
	"Programming Language :: Python :: 3.7",
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",
]

[lib]
name = "pyxirr"
crate-type = ["rlib", "cdylib"]

[[bench]]
name = "main"
harness = false

[dependencies]
pyo3 = "0.13"
numpy = "0.13"
chrono = "0.4"

# because dev-dependencies are not allowed to be optional
criterion = {version = "0.3", features = ["html_reports"], optional = true }

[dev-dependencies]
rstest = "0.9"

[features]
default = ["pyo3/extension-module"]
bench = ["criterion"]
